.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.headerSection {
    /*background-color: #EfEfEf;*/

       /*border-collapse: collapse;
    border-radius: 6px;*/

}
th {
    background:#757d55;
    /*border-left: 2px solid #284020;
    border-right: 2px solid #B74;
    border-top: 1px solid #EB8;*/
    font-weight: bold;

    color:white;
    text-align: center;
    height:25px;
}
tr:nth-child(even) {background-color: #f2f2f2}

td {
  padding: 5px 0;
}

.moduleSection {

    width: 100%;
}
.open-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.list-category-title {
  padding: 5px 0;
  /*background: #2e7c31;*/
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}
button{
  color:black;
}
.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.error{
  color:#f00;
}
.row-padded {
    padding: 5px;
    background-color: #F7F7F7;
    border: 1px solid #DDD;
}
.row-padded1 {
    padding: 15px;
    padding-left:0 px;
    background-color:rgba(251, 248, 229, 0.84);
    border: 1px solid #DDD;
}
.navlink{
  color: #fff;
  border-color: #fff;
}
.navbar .nav > li > a:hover
{
   color: #fff;
   background-color: #319ee8;
   border-color: #fff;

}
.navbar{
  margin-bottom:0px;
}
 .navbar-default{
  background-color:black;
    color:white;
}
 .navbar-default .navbar-brand {
  color:white!important;

 }
 /*.dropdown-link a {color: white;}
 .dropdown-toggle {color:yellow }*/
 .navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #319ee8;
   border-color: #fff;
}
.navbar .nav > li.dropdown > a
{
   color: #fff;
   border-color: #fff;
}
/*.textarea {
  width: 360px;
  outline: none;
  min-height: 20px;
  padding: 0;
  box-shadow: none;
  display: block;
  border: 2px solid black;
  overflow: hidden;  // Removes scrollbar
  transition: height 0.2s ease;
}*/
/*.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}*/
